@import "./font.css";

:root {
    --main-bg-color: #343434;
    --major-green: #138A36;
    --major-bleu: #028090;
    --major-white: #F0F7F4;
    --major-error: #DB3A34;
    --principal-font: terminal;

}

html {
    font-family: var(--principal-font);
    font-weight: 100;
    overflow: hidden;
    background-color: var(--main-bg-color);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page_wrapper {
    display: flex;
    position: relative;
    height: 100%;
}

.left-part {
    position: relative;
    flex: 2 1 auto;
    height: 100vh;
    max-width: 30vw;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.left-part .pc_clicker {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.left-part .pc_clicker img {
    width: 22vw;
    height: auto;
}

.left-part .pc_clicker p {
    top: 18%;
    left: 47%;
    font-size: 1.7vw;
    position: absolute;
    color: #34700a;
    font-family: pixel;
}

.left-part .text {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 10px;
}

.left-part .text .bugs_count {
    display: block;
    font-size: 2rem;
}

.left-part .reset {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
}

.midle-part {
    flex: 2 1 auto;
    background-color: green;
}

.right-part {
    flex: 1 1 auto;
    max-width: 25vw;
}

.right-part .build {
    border: solid 1px #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #999999;
}

.right-part .build .text {
    margin-left: 20px;
}

.right-part .build .text .name {
    font-weight: 900;
    font-size: 1.2rem;
}

.price {
    font-weight: 700;
    color: var(--major-green);
}

.right-part .build .name, .price {
    line-height: .5rem;
}

.right-part .build .number {
    position: absolute;
    right: 20px;
    font-size: 4rem;
}
.right-part #build-BF .img{
    padding-left: 17px;
    padding-right: 17px;
}

.sucess {
    color: var(--major-green);
}

.error {
    color: var(--major-error);
}

.clickable {
    cursor: pointer;
}